<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>List Customer</title>
</head>
<body>
<h1> List Customers</h1>
<p>
    <a th:href="@{/customers/create}">
        Add new customer
    </a>
</p>

<table id = "customers">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="c:${customer}">
        <td th:text="${c.name}"></td>
        <td th:text="${c.email}"></td>
        <td th:text="${c.address}"></td>
        <td><a th:href="@{/customers/edit/{id}(id=${c.getId()})}">edit</a></td>
        <td><a th:href="@{/customers/delete/{id}(id=${c.getId()})}">delete</a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>